*,
*::after,
*::before,
*::marker {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    //defines this is 1rem
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

ul {
    list-style: none;
}